.navbar {
  height: 3rem;
  flex: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: 0 1.25rem;
  background: var(--clr-white);
  border-bottom: 1px solid var(--clr-line);
}

.navbar__brand {
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

.navbar__brand-a {
  color: var(--clr-primary);
}

.navbar__brand-b {
  color: var(--clr-secoundary);
}

.navbar__tag {
  display: none;
  color: var(--clr-secoundary);
}

@media (min-width: 400px) {
  .navbar__tag {
    display: block;
    font-size: 1.15rem;
    font-weight: 500;
  }
}

@media (min-width: 700px) {
  .navbar {
    padding: 0 2.5rem;
    height: 4rem;
  }

  .navbar__brand {
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  .navbar {
    padding: 0 4rem;
  }
}
